.logo-header{
    background-color: whitesmoke;
    padding: 12px;
}

.logo-header .dropdown-Button {
    border: none;
    background-color: transparent;
    padding-left: 15px;
    color: deepskyblue;
}

.logo-header .free-delivary{
    padding-left: 6%;
}

.logo-header .dropdown{
    float: right;
    margin-top: -2%;
    padding-right: 8%;
}

.main-logo-header{
    padding-top: 2%;
}

.main-logo-header .main-logo{
    padding-left: 8%;
    position: absolute;
}

.main-logo-header .main-logo img{
    width: 15%;
}

.main-logo-header .search-box{
    text-align: center;
}

.main-logo-header .search-box input{
    border-radius: 30px;
    width: 26%;
    padding-left: 5%;
    height: 50px;
    background: #fcfcfc;
    border: none;
}

.main-logo-header .right-content{
    text-align: right;
    margin-top: -4%;
    padding-right: 10%;
}

.right-content ul li img{
    width: 3%;
}

.right-content ul{
    list-style-type: none;

}

.go-search{
    border-radius: 100%;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 6%);
    padding: 8px;
    border: none;
    max-width: 108px;
    height: 44px;
    margin: 0px;
    position: relative;
    left: -7%;
    top: 1px;
    font-size: 21px;
}

